{% extends 'main_template.html' %}

{% block main %}
<a href="{% url 'login' %}">login</a>
<a href="{% url 'logout' %}">logout</a>
{{ user }}
    {% for b in books %}
        <a href="{% url 'book-detail' slug=b.slug %}"><h1>{{ b.title }}</h1></a>
        {% if b.is_owner %}
            <a href="{% url 'delete-book' slug=b.slug %}">
                <button type="button" class="btn btn-outline-danger">Удалить книгу</button>
            </a>
            <a href="{% url 'update-book' slug=b.slug %}">
                <button type="button" class="btn btn-outline-danger">Редактировть книгу</button>
            </a>
        {% endif %}
        <h6><i>{{ b.date }}</i></h6>
        <h3>{{ b.text }}</h3>
        <h6><i>{{ b.authors.all }}</i></h6>
        <span class="badge">{{ b.rate }}</span>
        {% for i in range %}
            {% if b.rate >= i %}
                <a href="{% url 'add-rate' slug=b.slug rate=i %}">
                    <span class="fa fa-star checked"></span>
                </a>
            {% else %}
                <a href="{% url 'add-rate' slug=b.slug rate=i %}">
                    <span class="fa fa-star"></span>
                </a>
            {% endif %}
        {% endfor %}
        <br>
    {% endfor %}

<br>
<h4>Добавьте Вашу книгу</h4>
{% if user.is_authenticated %}
<form action="{% url 'add-book' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Сохранить">
</form>
{% endif %}
{% endblock %}